#leftMenu
  .fa.fa-circle.homeClass(name='INICIO')
  .fa.fa-circle.aboutUsClass(name='QUIÉNES SOMOS')
  .fa.fa-circle.ourFieldsClass(name='NUESTROS CAMPOS')
  .fa.fa-circle.ourGrapesClass(name='NUESTRAS UVAS')
  .fa.fa-circle.noAvailable(name='VINOS LLANO COLORADO')
  .fa.fa-circle.noAvailable(name='PREMIOS')
  .fa.fa-circle.noAvailable.g(name='CONTACTO')
