.close
  img(src='img/close.svg')
.logoRojo
  img.homeClass(src='img/vinicola-logo-rojo.png')
  .contenedorLinks
    .seccionLink.homeClass(name='INICIO') INICIO
    br
    .seccionLink.aboutUsClass(name='QUÍENES SOMOS') QUÍENES SOMOS
    br
    .seccionLink.ourFieldsClass(name='NUESTROS CAMPOS') NUESTROS CAMPOS
    br
    .seccionLink.ourGrapesClass(name='NUESTRAS UVAS') NUESTRAS UVAS
    br
    .seccionLink.noAvailable(name='VINOS LLANO COLORADO') VINOS LLANO COLORADO
    br
    .seccionLink.noAvailable(name='PREMIOS') PREMIOS
    br
    .seccionLink.noAvailable(name='CONTACTO') CONTACTO
    .seccionLinkNetwork
      a(href='http://facebook.com' target='_blank'):.fa.fa-facebook-official.icon.iconNetwork
      a(href='http://twitter.com' target='_blank'):.fa.fa-twitter-square.icon.iconNetwork
      a(href='http://instagram.com' target='_blank'):.fa.fa-instagram.icon.iconNetwork
