///////////////Animation indicator
@keyframes indicadorAnim{
  0%{
    transform: scale(.5);
     opacity: 0;
  }
  60%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
    display: none;

  }
}
///////////////Animation text landcape
@keyframes textoAnim{
  //from to
  0%{
    transform: scale(.9);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    //@include corner(0px);
  }
}
////////////////Animation preloader
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}
@keyframes AnimlogoPreload {
    from {
      opacity:0;
      transform: scale(.5);
    }
    to {
      opacity:1;
      transform: scale(1);
    }
}
