//375*677
$landscapeiPhone:'(max-width:767px) and (max-height: 480px)';
$refreshPercent:'(min-width:100px)';
$extraSmall:'(max-width:767px)';
$small:'(min-width:768px) and (max-width:991px)';
$medium:'(min-width:992px) and (max-width:1199px)';
$large:'(min-width:1200px)';
$heightMin:'(max-height:800px)';
// !extraSmall
@media #{$extraSmall}{
  $surplus:0px;
   #home{
  	$properties: ('mobile':true);
  	@include percents(100%,100%,$surplus,$surplus,$properties);
  }
  .confirmEnterIn{
    background: url('../img/enter.jpg') no-repeat center center fixed;
    @include prefix('background-size','cover');
    $properties: ('mobile':false);
    @include percents(100%,100%,$surplus,$surplus,$properties);
  }
   #topMenu{
    margin-left:0;
    color: rgba(255,255,255,1);
    padding: 10px;

  }
  #leftMenu{
    opacity: 0;
  }
  .backgroundHome{
    background: url('../img/home-mobile.jpg') no-repeat center center fixed;
     @include prefix('background-size','cover');
  }
  .backgroundAboutUs{
    background: url('../img/about-us-mobile.jpg') no-repeat center center fixed;
     @include prefix('background-size','cover');
  }
   .backgroundAboutUs2{
    background: url('../img/about-us-2.jpg') no-repeat center center;
     @include prefix('background-size','cover');
  }
  .fullMenuLinks{
    width: 85%;
  }
  .seccionLink{
    margin-bottom: 25px;
    font-size: 1.2em;
  }
  .logoRojo{
    width: 200px;
    height: 200px;
  }
  .logoRojo img{
    width: 60%;
    height: 60%;
  }
  .close{
   width: 60px;
   height: 60px;
   margin: 0px;
  }
  #leftMenu{
      display: none;
  }
  .menu{
      background-color: rgba(0,0,0,.5);
  }
  .menuNetwork{
    display: none;
  }
  .seccionLinkNetwork div{
    font-size: 2.5em;
    margin-left: 4%;
  }
  ////////////Validate age
  .validateTitle p{
    font-size: 1.5em;
    font-family: $fuente2;
    margin-top: 20px;
  }
  .validateText{
    font-size: 1.2em;
  }
  .validatePrevents{
   font-size: .8em;
  }
  .validateText, .validateForm, .validateLogo{
   margin-bottom: 20px ;
  }
  .validateForm select{
    margin-right: 10px;
  }
  .validateEnter{
    font-family: $fuente2;
    font-size: 1.5em;
    display: block !important;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .validateLogo{
    width: 150px;
    height: 150px;
  }
  .confirmEnterIn{
  //   border: 1px solid $rojo;
  }
  .validateForm select{
    width: 85px;
    height: 85px;
  }
   ////////////Section1
   .aboutUs1{
     margin-top: 20%;
    }
    .aboutUs1{
      width: 80%;
    }
    /////////Section2
    .backgroundAboutUs2{
      position: static;
      width: 100%;
      height: 200px;
      left: 0;
      top: 0;
      clear: both;
    }
    .textAboutUs3{
      position: static;
      left:0;
      width: 100%;
      height: auto;
      min-height: 100% !important;
      background-color: $rojo;
      clear: both;
    }
////////////Section 2
  .textAboutUs2Padding{
    padding: 60px;
    margin-top: 0px;
    display: inline-block;
  }

  //////////Subsections
  .swipeCustom{
      left: $surplus;
      width: 100%;
      background-color:$blanco;
      bottom: 0px;
      padding: 10px;
      padding-bottom: 25px;
  }
}
// !Small
@media #{$small}{
  $surplus:60px;
   #home{
   $properties: ('mobile':false);
  	@include percents(100%,100%,$surplus,$surplus,$properties);
  }
  .confirmEnterIn{
    background: url('../img/enter.jpg') no-repeat center center fixed;
    @include prefix('background-size','cover');
    $properties: ('mobile':false);
    @include percents(100%,100%,$surplus,$surplus,$properties);
  }
   #topMenu{
    margin-left:$surplus;
    opacity: 1;
    font-size: 2.6em;

  }
  .logoRojo{
    width: 200px;
    height: 200px;
  }
  .logoRojo img{
    width: 60%;
    height: 60%;
  }
  .menuNetwork{
    right: $surplus;
    bottom: 20px;
  }
  #leftMenu{
    margin-left: 40px;
    font-size: 1.8em;
    opacity: 1;
  }
  .backgroundHome{
    background: url('../img/home.jpg') no-repeat center center fixed;
     @include prefix('background-size','cover');
  }
  .backgroundAboutUs{
    background: url('../img/about-us.jpg') no-repeat center center fixed;
     @include prefix('background-size','cover');
  }
  .backgroundAboutUs2{
    background: url('../img/about-us-2.jpg') no-repeat center center;
     @include prefix('background-size','cover');
  }
  .fullMenuLinks{
    width: 70%;
  }
  .seccionLink{
    margin-bottom: 30px;
    font-size: 1.5em;

  }
   .iconNetwork{
    font-size: 2em !important;
  }
  .seccionLinkNetwork{
    display: none;
  }
   ////////////Validate age
  .validateTitle p{
    font-size: 1.5em;
    font-family: $fuente2;
    margin-top: 20px;
  }
  .validateText{
    font-size: 1.2em;
  }
  .validatePrevents{
   font-size: .8em;
  }
  .validateText, .validateForm, .validateLogo{
   margin-bottom: 20px ;
  }
  .validateForm select{
    margin-right: 10px;
  }
  .validateEnter{
    font-family: $fuente2;
    font-size: 1.5em;
    display: block !important;
    margin-top: 30px;
  }
  .validateLogo{
    width: 150px;
    height: 150px;
  }
    .validateForm select{
    width: 85px;
    height: 85px;
  }
   ////////////Validate age
   .aboutUs1{
     margin-top: 20%;
    }
    .aboutUs1{
      width: 80%;
    }
/////////Section2
  .backgroundAboutUs2{
    position: static;
    width: 100%;
    height: 200px;
    left: 0;
    top: 0;
    clear: both;
  }
   .textAboutUs2{
    position: static;
    left:0;
    width: 100%;
    background-color: $rojo;
    clear: both;
    height: auto;
      min-height: 100% !important;
  }
//////////Subsections
  .swipeCustom{
      left: $surplus;
      width: 60%;
      bottom: 0px;
      padding: 10px;
      padding-bottom: 25px;
      display: inline-block !important;
  }

}
@media #{$medium}{
  $surplus:40px;
   #home{
    $properties: ('mobile':false);
  	@include percents(100%,100%,$surplus,$surplus,$properties);
  }
  .confirmEnterIn{
    background: url('../img/enter.jpg') no-repeat center center fixed;
    @include prefix('background-size','cover');
    $properties: ('mobile':false);
    @include percents(100%,100%,$surplus,$surplus,$properties);
  }
  #topMenu{
    margin-left:$surplus;
    opacity: 1;
  }
   .menuNetwork{
    right: $surplus;
  }
  #leftMenu{
    margin-left: 30px;
    opacity: 1;
  }
  .backgroundHome{
    background: url('../img/home.jpg') no-repeat center center fixed;
     @include prefix('background-size','cover');
  }
  .backgroundAboutUs{
    background: url('../img/about-us.jpg') no-repeat center center fixed;
     @include prefix('background-size','cover');
  }
  .backgroundAboutUs2{
    background: url('../img/about-us-2.jpg') no-repeat center center;
     @include prefix('background-size','cover');
  }
  .fullMenuLinks{
    width: 28%;
  }
  .iconNetwork{
    font-size: 1.5em !important;
  }
  .seccionLinkNetwork{
    display: none;
  }
  .swipeCustom{
    left: $surplus;
  }
}
@media #{$large}{
  $surplus:40px;
  #home{
  	$properties: ('mobile':false);
  	@include percents(100%,100%,$surplus,$surplus,$properties);
  }
  .confirmEnterIn{
    background: url('../img/enter.jpg') no-repeat center center fixed;
    @include prefix('background-size','cover');
    $properties: ('mobile':false);
    @include percents(100%,100%,$surplus,$surplus,$properties);
  }
  #topMenu{
    margin-left:$surplus;
    opacity: 1;
  }
  .menuNetwork{
    right: $surplus;
  }
  #leftMenu{
    margin-left: 20px;
    opacity: 1;
  }
  .backgroundHome{
    background: url('../img/home.jpg') no-repeat center center fixed;
     @include prefix('background-size','cover');
  }
  .backgroundAboutUs{
    background: url('../img/about-us.jpg') no-repeat center center fixed;
     @include prefix('background-size','cover');
  }
  .backgroundAboutUs2{
    background: url('../img/about-us-2.jpg') no-repeat center center;
     @include prefix('background-size','cover');
  }

  .fullMenuLinks{
    width: 28%;
  }
  .iconNetwork{
    font-size: 1.5em !important;
  }
  .seccionLinkNetwork{
    display: none;
  }
  //Menu subSections
  .swipeCustom{
    left: $surplus;
  }
}
@media #{$landscapeiPhone} {
  //Landscape 667/375 - Portrait 375/559
  $surplus:0px;
  #home{
  	$properties: ('mobile':false);
  	@include percents(100%,100%,$surplus,$surplus,$properties);
  }
  .confirmEnterIn{
    background: none;
    @include prefix('background-size','cover');
    $surplus : 0;
    $properties: ('mobile':false);
    @include percents(100%,100%,$surplus,$surplus,$properties);
  }
  .confirmEnter{
    background: url('../img/enter.jpg') no-repeat center center fixed;
    @include prefix('background-size','cover');

  }
	.menu{
  	display: none;
	}
	.backgroundHome{
    background: url('../img/home-mobile-landscape.jpg') no-repeat center center fixed;
    @include prefix('background-size','cover');
   }
  .portrait{
     @include prefix('filter','blur(5px) invert(0.2)');
   }
  .mensaje{
     @include prefix('animation','textoAnim 600ms forwards ease-in-out');
     font:{
       family: $fuente2;
      }

     display: block;
   }
  .fullMenuLinks{
    width: 28%;
  }
  .logoPreload{
    bottom:25%;
  }
  .load-bar {
    top: 85%;
  }
  .seccionLinkNetwork{
    display: none;
  }

}
///////Height min
@media #{$heightMin} {
////////////Validate age
  .validateTitle p{
    font-size: 1.5em;
    font-family: $fuente2;
    margin-top: 10px;
  }
  .validateText{
    font-size: 1.2em;

  }
  .validatePrevents{
   font-size: .8em;
  }
  .validateText, .validateForm, .validateLogo{
   margin-bottom: 10px ;
  }
  .validateForm select{
    margin-right: 10px;
  }
  .validateEnter{
    font-family: $fuente2;
    font-size: 1.5em;
    display: block !important;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .validateLogo{
    width: 120px;
    height: 120px;
    padding: 20px;
  }
  .confirmEnterIn{
  //   border: 1px solid $rojo;
  }
  .validateForm select{
    width: 60px;
    height: 45px;
    font-size: 1em;
  }
  .confirmEnterIn{
    overflow: hidden !important;
  }

}
/*

@media screen and (orientation:portrait) {
   .swiper-slide{
     width: 100%;
     height: 100%;
  }
}
@media screen and (orientation:landscape) {
   .swiper-slide{
     width: 100%;
     height: 100%;
  }
}
*/

