$transitionValue:all 300ms ease;

//@import "bootstrap.scss";
@import 'mixings.scss';
@import 'page.scss';

//@import 'https://fonts.googleapis.com/css?family=Vidaloka|Playfair+Display+SC:400,700';
//@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';
//@import 'js/slider/css/swiper.css';

.menu{
  position: relative;
  z-index: 100;
}
#home{
	//background-color: rgba(205, 205, 205, 1);
	position: absolute;
	z-index: 99;
	@include prefix('transition',$transitionValue);
	top: 0;
	left: 0;
	overflow: hidden;
}
#topMenu{
  @include prefix('transition',$transitionValue);
  display: inline-block;
  color: $rojo;
	font:{
		size: 1.6em;
		family: $fuente1;
		style: italic;
	};
	 opacity: 1;
	 margin-left: 20;
	 margin-top: 10px;
}


///////////Slider
.swiper-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
}
.swiper-slide {
    background: #f1f1f1;
    color:#000;
    width: 100%;
    height: 100%;
}
///////////Slider
//////////Home
.backgroundHome{
  width: 100%;
  height: 100%;
}
/*
.logo{
  position: relative;
  display: inline-block;
  padding: 20px;
  background-color: $rojo;
  z-index: 999;
}
*/
.logo{
  position: relative;
  padding: 20px;
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: $rojo;
  z-index: 999;
  left: 50%;
  margin-left: -75px;
  top:50%;
  margin-top: -75px;
  @include prefix('animation','logoAnim 2s forwards ease-in-out');
  //@include corner(180px);
  .image{
    width: 100%;
    height: 100%;
    @include prefix('animation','logoAnim2 3300ms forwards ease-in-out');
    img{
      width: inherit;
      height: inherit;
    }
  }
}
@keyframes logoAnim{
  0%{
    transform: scale(1.4);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    //@include corner(0px);
  }
}
@keyframes logoAnim2{
  0%{
    transform: scale(.4);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;


  }
}
.portrait{
  @include prefix('transition',$transitionValue);
}
.mensaje{
  display: none;
  text-align: center;
  width: 100%;
  height: 80px;
  top:50%;
  margin-top: -40px;
  font-size: 1.5em;
  color: rgba(255,255,255,1);
  position: absolute;
  z-index: 99980;
  font-family: $fuente1;
  @include prefix('text-shadow','2px 2px 4px rgba(0,0,0,0.70)');
}
///////// Full menu
.fullMenu{
  width: 100%;
  height: 100%;
  background-color: $rojo2;
  position: absolute;
  z-index: 99979;
   display: none;
   opacity: 0;

}
.fullMenuLinks{
  height: 100%;
  width: auto;
  background-color: $blanco;
  position: absolute;
  @include prefix('transition',$transitionValue);
  left: 0px;
}

.seccionLink{
  font:{
    family: $fuente2;
    size: 1em;
    }
    color:$rojo;
    margin-bottom: 15px;
    @include prefix('transition',$transitionValue);
    display: inline-block;
    cursor: pointer;
}
.close{
  width: 50px;
  height: 50px;
  margin: 10px;
  position: absolute;
  right: 0px;
  padding: 15px;
  z-index: 99981;
  cursor: pointer;

  //float: right;
  //clear: both;
  img{
    width: 100%;
    height: 100%;
  }
}
.logoRojo{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  img{
    width: 100%;
    height: 100%;
  }
  padding-top: 30px;
}
.contenedorLinks{
  margin-top: 30px;
}
////////////About us
.backgroundAboutUs{
  width: 100%;
  height: 100%;
}
.backgroundAboutUs2{
  width: 50%;
  height: 100%;
  left: 0;
}
.homeClass{
  cursor: pointer;
}
@import 'enter.scss';
@import 'mediaqueries.scss';
@import 'animations.scss';
