///////////////////

//////////////
doctype html
html(lang='en')
  head: include ./includesjade/header
  body
    .indicador: include ./includesjade/indicador
    .mensaje Para seguir navegando, gira tu celular.
    .preloadGeneral: include ./includesjade/preloadGeneral
    main#content.portrait
      .fullMenu
        .fullMenuLinks: include ./includesjade/menuLinks
      section#contentSection: include ./includesjade/home
      //top menu
      section
        nav.menu: include ./includesjade/menu
        //left menu
      section
        nav.menu: include ./includesjade/menuLateral
        //general content
      section
        .swipeCustom
          .swiper-pagination
        nav.menuNetwork
          a(href='http://facebook.com' target='_blank'):.fa.fa-facebook-official.icon.iconNetwork
          a(href='http://twitter.com' target='_blank'):.fa.fa-twitter-square.icon.iconNetwork
          a(href='http://instagram.com' target='_blank'):.fa.fa-instagram.icon.iconNetwork
    img.hidden(src='img/test1.jpg')
    img.hidden(src='img/test1.jpg')
    img.hidden(src='img/test2.jpg')
    img.hidden(src='img/about-us-2.jpg')
