doctype html
html(lang='en')
  head
    include ./includes/header.jade
  body
    .mensaje Para seguir navegando, gira tu celular.
    main#content.portrait
      .fullMenu
        .fullMenuLinks
          include ./includes/menuLinks.jade
      section#contentSection
        include ./includes/home.jade
      //top menu
      section
        nav.menu
          include ./includes/menu.jade
        //left menu
      section
        nav.menu
          include ./includes/menuLateral.jade
        //general content
