.backgroundAboutUs2
.textAboutUs2
  .textAboutUs2Padding
    .aboutWellcome.bMargin30 NUESTRA HISTORIA
    .aboutText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis mattis efficitur. Maecenas et enim et justo cursus imperdiet id sit amet turpis. Vestibulu  quis mattis diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis mattis efficitur. Maecenas et enim et justo cursus imperdiet id sit amet turpis. Vestibulu  quis mattis diam.
    .clear
//about-us.jpg
