.test1.test
  .aboutUs1
    .aboutWellcome.bMargin30 EJEMPLO1
    .aboutText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis mattis efficitur. Maecenas et enim et justo cuam.
//about-us.jpg
