.validateTitle CONSUMIR RESPONSABLEMENTE ES ACEPTAR TU EDAD.
.validateText Antes de entrar a nuestra cava pon tu fecha de nacimiento.
.validateDay
.validateMonth 00
  select
    - var n = 1;
      while n < 32
    option(value=n) n++
.validateYear 99
.validateLogo
  img(src='img/vinicola-logo.png')
.validatePrevents EVITA EL EXCESO.