- var random = Math.floor(Math.random() * (15 - 1300) + 1300)
title Viresa
meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no')
script(src='js/jquery.min.js')
script(src='js/TweenMax.min.js')
script(src='js/controller.min.js?cache='+random)
script(src='js/slider/js/swiper.js')
link(rel='stylesheet' href='css/style.css?cache='+random)
link(href='https://fonts.googleapis.com/css?family=Vidaloka|Playfair+Display+SC:400,700|Comfortaa:400,300,700|EB+Garamond' rel='stylesheet' type='text/css')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
link(rel='stylesheet' href='js/slider/css/swiper.css')
