// .grid__col.grid__col--3-of-12
article#home
  .swiper-container
    .swiper-scrollbar
    .swiper-button-prev
    .swiper-button-next
    .swiper-wrapper
      //.swiper-slide Slide1 insertar contenido
    .swiper-pagination
    //
