.close
  img(src='img/close.svg')
.logoRojo
  img.homeClass(src='img/vinicola-logo-rojo.png')
  .contenedorLinks
    .seccionLink.homeClass HOME
    br
    .seccionLink.aboutUsClass QUÍENES SOMOS
    br
    .seccionLink.ourFieldsClass NUESTROS CAMPOS
    br
    .seccionLink.ourGrapesClass NUESTRAS UVAS
    br
    .seccionLink.noAvailable VINOS LLANO COLORADO
    br
    .seccionLink.noAvailable PREMIOS
    br
    .seccionLink.noAvailable CONTACTO
    .seccionLinkNetwork
      a(href='http://facebook.com' target='_blank'):.fa.fa-facebook-official.icon.iconNetwork
      a(href='http://twitter.com' target='_blank'):.fa.fa-twitter-square.icon.iconNetwork
      a(href='http://instagram.com' target='_blank'):.fa.fa-instagram.icon.iconNetwork
