#leftMenu
  .fa.fa-circle.homeClass
  .fa.fa-circle.aboutUsClass
  .fa.fa-circle.ourFieldsClass
  .fa.fa-circle.ourGrapesClass
  .fa.fa-circle.noAvailable
  .fa.fa-circle.noAvailable
  .fa.fa-circle.noAvailable
