.close
  img(src='img/close.svg')
.logoRojo
  img.homeClass(src='img/vinicola-logo-rojo.png')
  .contenedorLinks
    .seccionLink.aboutUsClass QUÍENES SOMOS
    br
    .seccionLink NUESTROS CAMPOS
    br
    .seccionLink NUESTRAS UVAS
    br
    .seccionLink VINOS LLANO COLORADO
    br
    .seccionLink PREMIOS
    br
    .seccionLink CONTACTO
