.preloadContent
  .logoPreload.showInLogoPreload
    img(src="img/vinicola-logo-rojo.png" width="100%")
  .load-bar
    .bar
    .bar
    .bar
.confirmEnter
  .confirmEnterIn
    .elementsValidate
      include elementsValidate